/* The entire page */
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Entire page background */
body{
    background-color: #000000;
}

/* Upper Section */
.header {
    background: #0d0524;
    border-color: #4c1dc8;
    height: 11vh;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    color: #cccccc;
}

/* Lower Section */
.body {
    background: #0d0524;
    border-color: #4c1dc8;
    margin-top: .5%;
    padding: .3%;
    height: 83vh;
    border-radius: 20px;
    border-style: solid;
    display: flex;
}




/* ---------TABLES--------- */ 

table {
    margin-left: .8vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-spacing: 0;
    border: 3px solid #4c1dc8;
    display:block;
    overflow-y: auto;
    text-wrap:wrap;
}

thead{
    background-color: #4c1dc8;
    color: #b3e237;
}

tbody{
    color: #cccccc;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #4b1dc84d;
}

::-webkit-scrollbar{
    width: 0;
}

/* Cash table */
.dtable{
    height: 9vh;
    margin-left: 2vw;
    margin-top: 1vh;
    border-collapse: separate;
}





/* -------FORM-------- */

.inputForm{
    display: flex;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
    margin-left: 2vw;
}

input[type=text], input[type=number], .Submit, select, .cashSubmit {
    border: 3px solid #4c1dc8;
    border-radius: 10px;
    background-color: black;
    color: #cccccc;
}

.removeButton{
    border: 2px solid #4c1dc8;
    border-radius: 5px;
    background-color: black;
    color: white;
}







