/* The entire page */
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Entire page background */
body{
    background-color: #000000;
}

/* Upper Section */
.header {
    background: #0d0524;
    border-color: #4c1dc8;
    height: 11vh;
    border-radius: 20px;
    border-style: solid;
    display: flex;
    color: #cccccc;
}

/* Lower Section */
.body {
    background: #0d0524;
    border-color: #4c1dc8;
    margin-top: .5%;
    padding: .3%;
    height: 83vh;
    border-radius: 20px;
    border-style: solid;
    display: flex;
}

/* ---------TABLE--------- */ 

/* Two Main tables */
.purchases, .transfer {
    margin-left: .8vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-spacing: 0;
    border: 3px solid #4c1dc8;
    display:block;
    overflow-y: auto;
    text-wrap:wrap;
}

/* ALL Body table heads */
thead{
    background-color: #4c1dc8;
}

/* ALL Body table bodies */
tbody{
    color: #cccccc;
}

/* ScrollBars */
::-webkit-scrollbar{
    width: 0;
}

/* Controls the inputted rows of ALL Body tables */
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #4b1dc84d;
}

/* --------RESULTS------------ */


.results {
    width: 26vw;
    height: 30vh;
    margin-top: 2vh;
    background-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    border: 3px solid #4c1dc8;    
}



/* ------ */

.inputForm{
    display: flex;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
    margin-left: 2vw;
}




/* -------FORM specifics-------- */

input[type=text], input[type=number], .Submit, select, .dbut{
    border: 3px solid #4c1dc8;
    border-radius: 10px;
    background-color: black;
    color: #cccccc;
}
.X{
    border: 2px solid #4c1dc8;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* --------DEBIT--------- */

.dnum{
    width: 5vw;
}
.dtable{
    height: 9vh;
    margin-left: 2vw;
    margin-top: 1vh;
    background-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    border: 3px solid #3a17ab;
    display:block;
    overflow-y: auto;
}


